.about{
    display: flex;
    align-items: center;
    background-color: var(--color-rosa-peach);
    margin-bottom: 60px;
    padding-top: 3rem;
}

.about__container{
    display: flex;
    width: 100%;
}

.about__title{
    color: var(--color-cenizo46);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.about__description{
    color: var(--color-cenizo46);
    font-size: 1.25rem;
    line-height: 1.4;
}

.about__img{
    text-align: center;
}

.about__img--optional{
    width: 400px;
}

.about__img figcaption>a{
    text-decoration: none;
    color: var(--color-cenizo56);
}

@media screen and (max-width: 1025px){
    .about__container{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 500px){
    .about__description{
        font-size: 1.1rem;
    }
    .about__img--optional{
        width: 100%;
        height: auto;
    }
}