.menu{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--background-blanco);
}

.menu__logo{
    color: var(--color-rosa-fuerte);
    font-size: 1.5rem;
    font-weight: 700;
}

#menu__bar{
    display: none;
}

.menu label{
    font-size: 40px;
    cursor: pointer;
    display: none;
    color: var(--color-cenizo56);
}

.menu__list{
    display: flex;
    gap: 2rem;
}

.menu__link{
    color: var(--color-cenizo56);
    text-decoration: none;
}

.menu__link:after{
    content: "";
    display: block;
    margin-left: 0;
    background-color: var(--color-rosa-fuerte);
    height: 3px;
    width: 0;
    transition: 0.3s;
}

.menu__link:hover:after{
    width: 100%;
}

.menu__link:hover,
.menu__link:focus{
    color: #000000;
}

@media screen and (max-width: 769px){
    .menu nav{
        display: none;
    }

    .menu label{
        display: initial;
    }
}