.menu{
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - (9.5rem*2));
    top: 0;
    left: 0;
    right: 0;
    height: 1em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--background-blanco);
    transition: ease 1s; 
}

.menu.sticky{
    height: 1em;
    background: var(--background-blanco);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu__logo{
    color: var(--color-rosa-fuerte);
    font-size: 1.5rem;
    font-weight: 700;
}

#menu__bar{
    display: none;
}

.menu label{
    font-size: 40px;
    cursor: pointer;
    display: none;
    color: var(--color-cenizo56);
}

.menu__list{
    position: relative;
    width: 100%;
    display: flex;
    gap: 2rem;
}

.menu__link{
    color: var(--color-cenizo56);
    text-decoration: none;
}

.menu__link:after{
    content: "";
    display: block;
    margin-left: 0;
    background-color: var(--color-rosa-fuerte);
    height: 3px;
    width: 0;
    transition: 0.3s;
}

.menu__link:hover:after{
    width: 100%;
}

.menu__link:hover,
.menu__link:focus{
    color: #000000;
}

@media screen and (max-width: 769px){
    .menu{
        width: calc(100% - (5.5rem*2));
    }

    .menu nav{
        position: absolute;
    }

    nav .menu__list{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        background-color: var(--background-blanco);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    .menu__link{
        font-size: 1.2rem;
        color: var(--color-cenizo56);
    }

    .menu label{
        display: block;
    }

    #menu__bar:checked ~ nav .menu__list{
        bottom: 450px;
    }
}

@media screen and (max-width: 500px){
    .menu{
        width: calc(100% - (1.8rem*2));
    }
}